# Supabase
NEXT_PUBLIC_SUPABASE_URL=your_supabase_url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key
SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key

# Database (Supabase PostgreSQL)
DATABASE_URL=postgresql://postgres:[password]@db.[ref].supabase.co:5432/postgres?pgbouncer=true
DIRECT_URL=postgresql://postgres:[password]@db.[ref].supabase.co:5432/postgres

# App & API Base Domain
NEXT_PUBLIC_APP_URL=https://pvs.martt.growxlabs.tech
NEXT_PUBLIC_API_URL=https://pvs.martt.growxlabs.tech
API_URL=https://pvs.martt.growxlabs.tech
JWT_SECRET=your_jwt_secret_key
UPSTASH_REDIS_REST_URL=your_upstash_redis_rest_url
UPSTASH_REDIS_REST_TOKEN=your_upstash_redis_rest_token

